@mixin flexible () {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.links_container .links .navbar-nav img {
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100%;
}

.links_container {
	@include flexible ();
	justify-content: flex-end;
	width: 100%;
	padding-top: 5%;
	.links {
		width: 22%;
		.navbar-nav {width: 69%;}
	}
}

.also_like {
	background-color: #f0f0f0;
	padding: 17.3%;
}

.photodiary_post_info {
	padding-bottom: 6%;

	p {padding: 1.15% 0% 1.7% 0%;}

	i {
		display: block;
		padding: 5.3% 2.3% 1.5% 2.3%;
		font-size: 1.08vw;
		line-height: 1.97vw;
	}
	
	.post_info_img {
		@include flexible ();
		flex-direction: column;
		width: 100%;
		padding-top: 5%;
		img {padding-bottom: 6.5%;}
	}

	.post_info_img img:last-child {padding: 0;}
}

.coments {
	padding-bottom: 7.5%;

	img {
		padding-top: 0.5%;
		max-width: 8%;
		min-width: 7%;
		max-height: 56%;
		min-height: 56%;
	}

	.coments_list .coments_item, 
	.coments_list .coments_item .coments_info,
	.add_coments {@include flexible ();}

	.container, 
	.coments_list .coments_item, 
	.coments_list .coments_item .coments_info,
	.add_coments {align-items: flex-start;}

	.coments_list .coments_item,
	.add_coments {justify-content: space-between;}

	.coments_list .coments_item .coments_info,
	.add_coments .add_coments_disable {width: 88%;}

	.container:first-child > a {padding-top: 7%;}

	.coments_list {
		padding: 4.2% 0% 3.7% 0%;
		.coments_item {
			padding-bottom: 5.6%;
			.coments_info {
				flex-direction: column;
				b {padding-bottom: 1%;}
				p {padding-bottom: 2.2%;}
			}
		} 
	}

	.add_coments {
		padding-top: 1%;
		.add_coments_disable {
			margin-top: 0.6%;
			padding: 2.6% 0%;
			border: 1px solid black;
			border-radius: 3px;
			a {padding-left: 4%;}
		}
	} 

	.links_container {
		padding: 0%;
		.links .navbar-nav {width: 21%;}
	}
}