@font-face {
font-family: "Playfair Display Regular";  
src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}
 
@font-face{
font-family: "Ubuntu Light";
src: url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
font-style: normal; 
font-weight: normal; 
}